/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	-fx-background-image: url("/images/settingsBackground.jpg");
	-fx-border-width: 5;
	
	
}

.button {
   -fx-background-color: linear-gradient(to right, #fbc2eb, #a6c1ee);
   -fx-text-fill: black;
}

#mainPane{
	-fx-background-color: white;
}

.text{
    -fx-text-fill: black;
    
}
.text-field {
    -fx-background-color: -fx-text-box-border, white ;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
    -fx-background-radius: 0.0 ;
}

.text-field:focused {
	-fx-border-color: white white #e82e66 white;
}


.color-picker{
	 -fx-background-color: linear-gradient(to right, #ff6e7f, #bfe9ff);
}
.color-picker .label{
	-fx-text-fill: black;
}

 
 