/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
    
    -fx-background-color: #232323;
    -fx-text-fill: white;
    -fx-border-color: white;
}

.button:pressed{
    -fx-background-color: rgba(180,180,180,0.7);
}

.button:hover{
    -fx-background-color: rgba(235,235,235,0.7);
    -fx-text-fill: Black;
}

#groupIdentifier{
	-fx-background-color: #232323;
    -fx-text-fill: white;
    -fx-border-color: white;
}
#create_text{
	-fx-background-color: #232323;
    -fx-text-fill: white;
    -fx-border-color: white;
}

#diagram_pane{
	-fx-background-color: #a8a7a7;
}

/*
 * .menu-bar{
	-fx-background-color: #232323;
}
 */

#toolbar{
	-fx-background-color: #232323;
}

.list-view {
    -fx-background-color: #232323;
}

.list-view .list-cell:hover {
    -fx-background-color: #434343;
}

.list-view .list-cell:selected {
    -fx-background-color: #434343;
}

.list-view .list-cell {
    -fx-background-color: #232323;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.jfx-rippler {
    -jfx-rippler-fill: red;
}

/*
 * .menu-button {
    -fx-background-color: #232323;
    -fx-text-fill: red;
    -fx-border-color: white;
    }
 */



